<!-- This file is the homepage of the website. -->

<!DOCTYPE html>
<html>
<head>
    <!--
      This section just sets up some metadata for the website.

      It probably does not need to be changed.
    -->
    <meta charset="utf-8">
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

    {{ partial "head_includes.html" . }}
</head>
  <body class="theme-base-08" lang="en">

  <!-- See /layouts/indexes/category.html for explanation of this section -->
    <div class="wrap">
      <div class="container content">
        <h1>{{ .Site.Title }}</h1>

        <p class="lead">Welcome.</p>

        <p>Please accept our apologies. We are a little surprised by the fast
        publication of the <a href="http://www.aes.org/e-lib/browse.cfm?elib=18298">final open access paper</a>. Data will be available very soon (approximately by August 20 2016).

       </p>
       You can clone this website and the matlab code already via git and get all updates easily by pulling the new versions.
       <a href="https://tgm-git.jade-hs.de/pub/PrivacyAwareEMA_2016.git">Git repository</a>

       <h2>Additional Material to our <a href="http://www.aes.org/e-lib/browse.cfm?elib=18298">paper</a></h2>
       <p>Bitzer J, Kissner S, Holube I (2016). Privacy-Aware Acoustic Assessments of Everyday Life. Journal of the Audio Engineering Society, 64(6), 395-404.</p>
       <h3>Matlab framework</h3>
       Please clone the <a href="https://tgm-git.jade-hs.de/pub/PrivacyAwareEMA_2016.git">Git repository</a>
       In order to start with the framework, go to matlab/Paper and read the ReadMe.md file.
       <h3>Smartphone framework</h3>
       Not prepared so far.
       <h3>Additional figures</h3>
       <p>As stated in the paper far more features have been computed to compare the smartphone based feature
       extraction to the coventional audio based extraction methods.</p>

       Here are the final results:

       <img src="/MFCC_K_1.png" alt="First MFCC">




      </div>
    </div>


{{ partial "footer.html" . }}
